body
{
    background-color: rgb(254, 255, 254);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    padding: 0;
}

.contenedor-principal
{
    max-width: 80%;
    margin: 40px auto;
    background: #fffdfd;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(43, 255, 0, 0.6);
}

.perfil-header
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3155f7;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.perfil-imagen
{
    width: 120px;
    height: 120px;
    border-radius: 45%;
    object-fit: cover;
    margin-right: 24px;
    border: 3px solid #35ff03;
}

.perfil-info h1{
    margin: 0 0 8px 0;
    font-size: 2rem;
    color: #02ff17;
}

.perfil-info .Profesion
{
    margin: 0;
    font-weight: lighter;
    color:#000000;
}

.perfil-info .resumen
{
    color: #000000;
    margin-top: 8px;
}

section
{
    margin-bottom: 28px;
}

h2
{
    border-bottom: 1px solid #2cff02;
    padding-bottom: 8px;
    color:rgb(81, 255, 0);
    margin-bottom: 12px;
    font-size: 1.2rem;
}

ul
{
    padding-left: 18px;
    margin: 0;
}

.habilidades ol, .contacto ul
{
display: flex;
gap: 18px;
flex-wrap: wrap;
} 

.habilidades li, .contacto li
{
    background: #75c961;
    padding: 6px 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 1rem;
}

.trabajo, .eestudio
{
    margin-bottom: 14px;
    padding-left: 7px;
    border-left: 3px solid #31f300;
}

h3
{
    
}